body {
    background-color: rgba(31,41,55,255);
    margin: 0px;
    padding-left: 400px;
    padding-right: 400px;
    text-align: center
}

.header,
.content {
    background-color: purple;
}

.text {
    color: white;
}

.header {
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.content {
    display: flex;
    padding: 16px;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: white;
}

img.logo {
    width: 100px;
    height: auto;
    margin-left: 400px;
    flex: 0 1 auto;
    margin: 0px;
}

img.content-image {
    width: 100px;
    height: auto;
    justify-content: center;
}

.image-container {
    display: block;
    flex: 1 1 auto;

    justify-content: space-between;
    align-items: center;

    max-width: 200px;
}


/* ADD ALTS ON IMAGES */