body {
    background-color: rgba(31,41,55,255);
    margin: 0px;
}

.header {
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: space-between;

    margin-left: 400px;
    margin-right: 400px;

    padding: 16px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

img.logo {
    width: 100px;
    height: auto;
    margin-left: 400px;
    flex: 0 0 auto;
    margin: 0px;
}