* {
    margin: 0px;
    /* background-color: #F9FAF8; */
    color: #E5E7EB;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 21px;
}

.container {
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    background-color: #1F2937;
    padding: 25px;
}

.navbar .container {
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #1F2937;

}

.header {
    background-color: #1F2937;
    padding: 100px;
}

.header .container {
    background-color: #1F2937;
    justify-content: space-between;
    gap: 50px;
}

.content-image {
    height:150px;
    width:auto;
}

.image-container {
    flex: 1;
}

section .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section > .container > .image-container > p {
    width: 200px;
    height: auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navbar ul li {
    flex: 1;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar .container .logo {
    width: 100px;
    height: auto;
    flex: 0;
}

.leftside-element {
    flex: 1;
}

button {
    background-color: #3882f6;
    border: 0px;
    padding: 8px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

section .container {
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 10px solid #3882f6;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.container > h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

/* section.white-section {
    background-color: ;
} */

section.gray-section {
    background-color: #E5E7EB;
}

section.dark-section,
footer {
    background-color: #1F2937;
}

p {
    color: #1F2937
}

header p {
    color: #E5E7EB;
}

.header-text {
    padding-bottom: 10px;
}

.gray-section .container.quote {
    max-width: 800px; 
    padding: 100px 0px; 
    justify-content: end;
}

p.quote-author,
p.quote-text {
    color: #1F2937;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
}

section > .container > .quote-author {
    font-weight: bold;
    padding-top: 10px;
}

section > .container.call-to-action {
    background-color: #3882f6;
    border-radius: 12px;
    gap: 75px;
    padding: 50px 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

section > .container.call-to-action > div > h2 {
    color: white;
    font-size: 28px;
}

section > .container.call-to-action > div > p {
    color: white;
}

section > .container.call-to-action > button {
    display: inline-block;
    background-color: #3882f6;
    border: 5px;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 900;
    border: 3px solid white;
 }

.header > .container > .rightside-element >.box {
    border: 0px;
    background-color: gray;
    width: 550px;
    height: 250px;;
}

section > .container > h2 {
    padding-top: 29px;
    padding-bottom: 29px;
    flex: 1 0 100%;
    text-align: center;
}

/* Random information container*/
 .container-2 {
    padding-bottom: 100px;
 }

footer.dark-section {
    background-color: #1F2937;
}

footer.dark-section > .container {
    justify-content: center;
}

footer.dark-section > .container > p {
    color: white;
    padding: 25px 0px;
}